
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);


body {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	background: url(img/climpek.png);
	background-color: #5c9bab;
}

#wrapper {
	background: #ffffff;
	border: 1px solid #ccc;
	padding: 5px 35px 8px;
	margin-top: 20px;
}

h1 {
	color: #666;
	font-size: 45px;
	margin-top: 5px;
	font-family: 'Raleway', sans-serif;
}

h2.postTitle {
	color: #646464;
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
}

p {
	color: #5c5c5c;
	font-size: 14px;
}

a:link{
	color:#5c9bab;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.clearfix {
	clear: both;
}

.post {
	padding: 25px;
	margin: 15px;
	width: 40%;
	float: left;
	background: #e6e3e3;
	border: 2px solid #999;
}

nav ul {
	list-style: none;
	padding: 0px;
	margin: -12px 0px 30px 0px;
}

nav ul li {
	display: inline;
	color: #666;
}

nav ul li a:link {
	padding: 20px;
}

nav ul li a:hover {
	color: #fff;
	background: #5c9bab;
}

footer {
	clear: both;
	padding-top: 30px;
}

p.copyright {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	color: #B2B0B0;
}